/*<meta />*/

/*
@import url('https://fonts.googleapis.com/css?family=Lora|Roboto|Roboto+Condensed|Roboto+Mono');
*/

body
{
	font-family: Roboto;
}

h1
{
	font-size: 24.0pt;
	margin-bottom: 0;
	margin-top: 2em;
	color: #000000;
}

h2
{
	font-size: 14pt;
	font-weight: bolder;
	margin-top: 2em;
	margin-bottom: 0;
	color: #2f4f4f;
}

h3
{
	font-weight: bold;
	font-size: 12.0pt;
	margin-top: 2em;
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

p
{
	font-size: 12.0pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 1em;
}

ol,
ul
{
	margin-top: 0em;
	margin-bottom: 1em;
}

img
{
	border: none;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

p.pp-placeholder
{
	margin-bottom: 4em;
	margin-top: 4em;
	mc-auto-number-format: '{b}PLACEHOLDER: {/b}';
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0;
	color: #000000;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1.5em;
	padding-bottom: 2em;
	border-left: solid 6px #aa0000;
	background-color: #fae5e5;
}

table
{
	margin-bottom: 1em;
}

p.copyright
{
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 1em;
	border-top-width: 1px;
	margin-top: 2em;
	padding-top: 1em;
	font-size: 60%;
	font-family: 'Roboto Light';
	color: #d3d3d3;
	border-top-color: #dcdcdc;
	border-top-style: dotted;
}

/* ========================== */
/* Picturepark Call-Out Boxes */

div.note,
div.warning
{
	width: 90%;
	padding: 1em;
	border-left: solid .75em;
	margin: 1em;
}

div.note
{
	background-color: #F5F5F5;
	border-left-color: #5d7b84;
	margin-left: 0;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
}

div.warning
{
	background-color: #FBE9E7;
	border-left-color: #FF5722;
	margin-left: 0;
	padding-top: 1em;
	margin-top: 1.5em;
	padding-bottom: 1em;
	margin-bottom: 1.5em;
}

div.note ul,
div.warning ul
{
	padding-left: .5em;
	margin-bottom: .1em;
}

div.note p,
div.warning p
{
	padding-left: .5em;
	margin-bottom: .5em;
	color: #757575;
}

div.boxheader
{
	font-weight: bold;
	font-size: 12.0pt;
	padding-left: .5em;
	margin-top: .5em;
	margin-bottom: .5em;
	color: #616161;
}

MadCap|xref
{
	mc-format: '{paratext}';
}

MadCap|xref.See-EN
{
	mc-format: '(See {i}{paratext}{/i}.)';
}

p.boxheader
{
	font-weight: bolder;
	margin-bottom: .5em;
}

p.subtitle
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 1em;
	font-weight: bolder;
	font-size: 14pt;
	color: #808080;
}

@media print
{
	p.subtitle
	{
		margin-top: 1em;
		font-size: 20pt;
	}

	h1.Title
	{
		font-weight: bold;
		margin-top: 0;
		font-size: 3em;
	}

	body
	{
		font-family: 'Avenir LT Std 35 Light';
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6
	{
		margin-top: 0;
		color: #000000;
	}

	div.warning
	{
		width: 100%;
		margin: 2em 0px;
	}

	p.pageNumber
	{
		font-size: 9pt;
		margin-bottom: 0;
	}

	div.note
	{
		width: 100%;
	}

	h1
	{
		font-size: 2em;
	}

	h2
	{
		font-size: 2em;
	}
}

p.pageNumber
{
	font-size: 12.0pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 1em;
}

@media In-App-Help
{
	
}

